/*This CSS file styles the HTML page for the Module 1 Challenge for the OSU Flex Web Development Bootcamp*/

/*The star element is a wildcard selector the selects all elements on the page.*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #d9dcd6;
}

header {
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    position: relative;
}

.header h1 {
    display: flex;
    font-size: 48px;
}

/*I used a <nav> element for the navigation bar at the top of the webpage, rather than a <div> element
because <nav> is a semantic element.*/
nav {
    margin-left:auto;
    margin-right: 0.75em;
}

/*Here, I was making the three links in the navigation bar at the top of the page display in a line, without using <div> tags.
The Xpert Learning Assistant chatbot gave me to two properties below for assistance with this.*/
.centered-flex-container{
    align-items: center;
    display: flex;
    
}

.seo {
    color: #d9dcd6;
}

ul {
    list-style-type: none;
}

/*Here, I need the links in the navigation bar to display in one line so that the page looks like the provided mockup.
This is what the inline-block display setting is for.*/
.links{
    display: inline-block;
    margin-left: 2em;
}

a {
    color: #ffffff;
    text-decoration: none;
}


/*I made the background image that was originally in this CSS file into an actual image tag in the HTML page,
rather than just a div with a backround image on top of it.*/
.image {
    background-size: cover;
    background-position: center;
    height: auto;
    margin-bottom: 25px;
    max-width: 100%;
    width: 100%;
}

.content {
    display: inline-block;
    margin-left: 20px;
    width: 75%;
}

p {
    font-size: 16px;
}

/*The three images on the three horizontal blue bars all have a class of eith 'float-left or float-right'.*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/*The entire marketing benefits sidebar has its own class.*/
.benefits {
    background-color: #2589bd;
    clear: both;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    height: 100%;
    margin-right: 20px;
    padding: 20px;
    width: 20%;    
}


/*Originally, each of the benefits on the sidebar had its own CSS slector for the benefit text, the benefit title, and the benefit image.
I consolidated this so that that is only one selector for all three sidbar titles, one for all three benefit paragraphs, and 
one for all three benefit images.*/
.individual-benefit {
    color: #ffffff;
    margin-bottom: 32px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.individual-benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Originally, once again, each marketing tactic had its own selector for it's respective title, image, and paragraph.  I once again consolidated this so that
there was one selector for all three titles, one for all three images, and one for all three paragraphs.*/
.marketing-tactic {
    background-color: #0072bb;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    height: 300px;
    margin-bottom: 20px;
    padding: 50px;
}

.marketing-tactic img {
    max-height: 200px;
}

.marketing-tactic h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
